
.channel-router{
	display: flex;
	flex:1;
	overflow:hidden;

	&__header{
		padding:1rem 2rem;
		width:100%;
		text-align: left;
		background-color: transparent;
		display: flex;
		align-items: center;

		&:not(.expanded) .channel-router__svg{
			transform:rotate(180deg);
		}
	
	}

	&__svg{
		height: 0.5rem;
		width: 0.5rem;
		margin-right: 1rem;
		path{
			fill:$c-mountainmist;
		}
	}

	&__title{
		color:$c-mountainmist;
		font-weight: $fw-regular;
	}
}